<div class=" col-xs-{{ widget.position.column }}">
    <div class="box">

        <div class="box-header with-border">
            <h3 class="box-title">{{ widget.title }}</h3>
        </div>
        <div class="box-body widget-value" id="{{ widget.key }}">
            <div class="progress-group" ng-repeat="worklog in widget.{{ widget.key }}.approvals">
                <div class="progress-text">{{ "{{worklog.user.displayName}}" }}</div>
                <div class="progress-number">{{ "{{worklog.workedSeconds | toHHMMSS}} / {{worklog.requiredSeconds | toHHMMSS}}" }}</div>
                <div class="progress" ng-init="percent =  worklog.requiredSeconds == 0 ? 100 : (worklog.workedSeconds / worklog.requiredSeconds)*100">
                    <div class="progress-bar progress-bar-striped progress-bar-{{ "{{ percen > 79 ? 'green' : 'blue' }}" }}" style="width: {{ "{{ percent }}" }}%;"></div>
                    <div class="progress-marker"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .progress {
        position: relative;
    }

    .progress-group .progress-number {
        margin-left: 25px;
    }

    .progress-group .progress-marker {
        width: 5px;
        height: 20px;
        position: absolute;
        background: red;
        right: 20%;
    }

    iframe {
        width: 100%;
        height: 450px;
    }
</style>

