<div class=" col-xs-{{ widget.position.column }}">
    <!-- small box -->
    <div class="small-box bg-{{ widget.appearance.color }}">
        <div class="inner">
            <h3 id="{{ widget.key }}" class="widget-value">0</h3>
            <p>{{ widget.title }}</p>
        </div>
        <div class="icon">
            <i class="ion {{ widget.appearance.icon }}"></i>
        </div>

    </div>
</div>